@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;600;700;800;900&family=Ubuntu:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;500;600;700&family=Inter:wght@200;300;400;600;700;800;900&family=Ubuntu:wght@300;400;500&display=swap');
@import '~@fortawesome/fontawesome-svg-core/styles.css';
:root {
  --theme-red: #a80d0c;
  --main-filter-bg: #ffdfde;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-repeat: no-repeat;
  background-position: 20px 20px;
  background-size: 80px;
  font-family: 'Inter', sans-serif;
  background-color: #eee;
}

.rtl-dir {
  direction: rtl !important;
}

.init-btn {
  background-color: var(--theme-red);
  color: #fff;
  border: none;
  font-weight: bold;
  border-radius: 4px;
}

.init-btn:hover {
  opacity: 0.8;
  transition: 200ms;
}

.my {
  background-color: crimson;
  padding: 2rem;
}

.hero {
  background-color: #1d1d1f !important;
  width: 100%;
  /* height: 42rem; */
  height: 90vh;
  min-width: 100%;
  color: #fff !important;
}

.logo-img {
  width: 10rem;
}

.logo-img:hover {
  opacity: 0.8;
  transition: 300ms;
}

.mt-4rem {
  margin-top: 4rem;
}

.faq-btn {
  border-radius: 50%;
  background-color: transparent;
  color: #fff;
  font-size: 1.5rem;
  border: 1px solid #fff;
  width: 2.75rem;
  height: 2.75rem;
}

.share-btn {
  padding: 0.5rem 2rem;
  border-radius: 25px;
}

.hero-center-btn {
  border-radius: 25px;
  padding: 0.5rem 1rem;
}

.hero-center-heading {
  line-height: 1.2;
  font-family: 'Ubuntu', sans-serif;
}

@media screen and (min-width: 575px) {
  .hero-center-heading {
    width: 25rem;
  }
}

.hero-center-text {
  font-weight: 200;
}

@media screen and (min-width: 575px) {
  .hero-center-text {
    width: 30rem;
  }
}

.hero-center {
  width: 30rem;
}

@media screen and (max-width: 575px) {
  .hero {
    width: 100%;
    min-width: 100%;
    height: 90vh;
  }
}

.box {
  width: 2rem;
  height: 2rem;
  width: 100%;
}

.my-row {
  width: 100%;
}

.main-filter-bg {
  background-color: var(--main-filter-bg);
  border-radius: 25px;
  padding: 0.75rem;
  width: 25rem;
}

.main-filter-btn {
  border-radius: 25px;
  padding: 0.25rem 0.75rem;
  width: 12rem;
  background-color: transparent !important;
  color: #222;
  font-weight: 400;
}

.bg-theme {
  background-color: var(--theme-red) !important;
}

.fc-fff {
  color: #fff !important;
}

.active-filter-btn {
  background-color: var(--theme-red) !important;
  color: #fff !important;
}

.fc-dark {
  color: #aaa !important;
}

.filter-search-icon {
  position: absolute;
  left: 3em;
  top: 48.35rem;
  cursor: pointer;
}

@media screen and (min-width: 575px) {
  .filter-search-icon {
    position: absolute;
    left: 9.5rem;
    top: 49.5rem;
    cursor: pointer;
  }
}

@media screen and (min-width: 767px) {
  .filter-search-icon {
    position: absolute;
    left: 9.5rem;
    top: 50rem;
    cursor: pointer;
  }
}

.filter-input {
  padding: 0.5rem 2rem;
  border-radius: 25px;
  border: 0.1px solid #ccc;
  background-image: url('../assets/images/search-icon.svg');
  background-size: 1.75rem;
  background-position: 7px 7px;
  background-repeat: no-repeat;
  opacity: 0.6;
  color: #000;
}

.my-span {
  background-image: url('../assets/images/search-icon.svg');
}

.dropdown {
  display: inline-block;
  position: relative;
}

.dropdown .form-select {
  border-radius: 25px;
}

.dropdown,
.dropdown-menu {
  width: 13rem !important;
}

.dropdown-item {
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: var(--theme-red) !important;
  color: #fff !important;
}

@media (max-width: 575px) {
  .sm-col-gap {
    gap: 1rem;
  }

  .dropdown,
  .dropdown-menu {
    width: 10rem !important;
  }
}

.card {
  padding: 0.5rem;
  border-radius: 15px;
}

.card-tag-filter {
  background-color: #eef6ff;
  color: #3c81f6;
  border-radius: 25px;
  border: 1px solid #fff;
  width: fit-content;
  padding: 0.2rem 0.65rem;
  cursor: pointer;
}

.card-tag-filter:hover {
  background-color: #fff;
  border: 1px solid #3c81f6;
}

.card-label {
  font-weight: 700;
}

.card-location,
.card-timing-info {
  color: #999;
}

.card-location-btn {
  width: fit-content;
  font-weight: 500;
  border-radius: 25px;
  padding: 0.25rem 0.75rem;
}

.card-contact-btn {
  width: fit-content;
  font-weight: 500;
  border-radius: 25px;
  padding: 0.25rem 0.75rem;
  color: #10ca35;
  background-color: #e0ffe7;
}

.card-timing {
  font-size: 85%;
}

.card-more-btn {
  color: #9ca3af;
  background-color: #f9fafb;
  border: 0.1px solid #9ca3af;
  border-radius: 25px;
}

.theme-color {
  color: var(--theme-red) !important;
}

.contact-email:hover,
.social-link:hover {
  color: var(--theme-red) !important;
}

.social-list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 4rem;
}

.social-link {
  color: white;
}

.footer {
  background-color: #1d1d1f !important;
  width: 100%;
  min-width: 100%;
  color: #fff !important;
  padding: 2rem;
}

.social-icon-font {
  font-size: 125%;
}
